body {
    line-height: 1.5;
    color: #333;
    padding: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3{
    color: #000;
    font-family: "Courier New", Courier, monospace;
}

a, a.nav:visited {
    color: #000;
}

code,
pre {
    background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
    padding: 1em;
}

.pl-2 {
    padding-left: 2em;
}

.col-12 {
    width: 99.5%;
    margin: .25%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.col-12-border {
    padding: 0 .5em;
    border: 1px solid #000;
}

.overflow-hidden {
    overflow: hidden;
}

.align-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}


/* medium */
@media only screen and (min-width: 768px) {
    .col-12 {
        width: 49.5%;
    }
}

/* large */
@media only screen and (min-width: 992px) {
    .col-12 {
        width: 32.5%;
    }
}

/* xtra large */
@media only screen and (min-width: 1600px) {
    .col-12 {
        width: 24.5%;
    }
}
